<h2> <%= @user.name %>'s Show Page<h2>

<% if flash[:dupe] %>
  <h6><%= flash[:dupe] %></h6>
<% end %>

<h3>Email: </h3>
<h4><%= @user.email %></h4>

<% if logged_in? %>
<a href="/users/<%= @user.id %>/edit">Edit Information</a>
<br><br>
<form class="" action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete User">
  </form>

<% end %>
