<h3>Edit Task<h3>

<form class="" action="/daily_task_entries/<%= @daily_task_entries.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Title:</label>
  <textarea name="title" style="width:auto; height:auto;"><%= @daily_task_entries.title%></textarea><br>
  <label for="date">Date:</label>
  <textarea name="date" style="width:auto; height:auto;"><%= @daily_task_entries.date%></textarea><br>
  <label for="description">Description of Task:</label>
  <textarea name="description" style="width:auto; height:auto;"><%= @daily_task_entries.description%></textarea><br>
  <label for="time">Time to Complete:</label>
  <textarea name="time" style="width:auto; height:auto;"><%= @daily_task_entries.time%></textarea><br>
  <label for="notes">User Notes:</label>
  <<textarea name="notes" style="width:auto; height:auto;"><%= @daily_task_entries.notes%></textarea><br>
  <input type="submit" name="" value="Create Task">

</form>