<h3>Edit Task<h3>

<form class="" action="/daily_task_entries" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" value="<%= @daily_task_entries.title %>"><br>
  <label for="date">Date:</label>
  <input type="text" name="date" value="<%= @daily_task_entries.date %>"><br>
  <label for="description">Description of Task:</label>
  <input type="text" name="description" value="<%= @daily_task_entries.description %>"><br>
  <label for="time">Time to Complete:</label>
  <input type="text" name="time" value="<%= @daily_task_entries.time %>"><br>
  <label for="notes">User Notes:</label>
  <input type="text" name="notes" value="<%= @daily_task_entries.notes %>"><br>
  <input type="submit" name="" value="Create Task">

</form>