Show page for daily task entries.

<p><%= @daily_task_entries.title %></p>
<p><%= @daily_task_entries.date %></p>
<p><%= @daily_task_entries.description %></p>
<p><%= @daily_task_entries.time %></p>
<p><%= @daily_task_entries.notes %></p>