Show page for daily task entries.<br>

<label for="title">Title:</label>
<p><%= @daily_task_entries.title %></p>
<label for="date">Date:</label>
<p><%= @daily_task_entries.date %></p>
<label for="description">Description:</label>
<p><%= @daily_task_entries.description %></p>
<label for="time">Time:</label>
<p><%= @daily_task_entries.time %></p>
<label for="notes">Notes:</label>
<p><%= @daily_task_entries.notes %></p>

<% if authorized_to_edit?(@daily_task_entries) %>
<a href="/daily_task_entries/<%= @daily_task_entries.id %>/edit">Edit Entry</a>
<br><br>
<form class="" action="/daily_task_entries/<%= @daily_task_entries.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Task">
  </form>

<% end %>

